<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>header</title>
		<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	</head>
	<style type="text/css">
		.row .card{
			overflow: hidden;
			margin-bottom:1rem;
		}
		.row .card:hover{
			border: 1px #ff0000 solid;
		}
		.card-img-top{
			width: 100%;
			transition: all .8s;
		}
		.card:hover .card-img-top{
			transform: scale(1.2);
		}
	</style>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 pd-1 col-md-2 offset-md-1">
					<aside class="d-lg-block d-none">
						<div class="list-group text-center">
							<button type="button" class="list-group-item active">分类</button>
							<button type="button" class="list-group-item list-group-item-action">男装 /运动户外</button>
							<button type="button" class="list-group-item list-group-item-action">女鞋 /男鞋 /箱包</button>
							<button type="button" class="list-group-item list-group-item-action">美妆 /个人护理</button>
							<button type="button" class="list-group-item list-group-item-action">腕表 /眼镜 /珠宝饰品</button>
							<button type="button" class="list-group-item list-group-item-action">腕表 /眼镜 /珠宝饰品</button>
							<button type="button" class="list-group-item list-group-item-action">腕表 /眼镜 /珠宝饰品</button>
							<button type="button" class="list-group-item list-group-item-action">腕表 /眼镜 /珠宝饰品</button>
							<button type="button" class="list-group-item list-group-item-action">腕表 /眼镜 /珠宝饰品</button>
						</div>
					</aside>
				</div>
				<div class="col-12 pd-1 col-md-8">
					<!-- 轮播图 -->
					<div id="" class="carousel slide carousel-scale" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="../resources/img/banner/banner1.jpg" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-item">
								<img src="../resources/img/banner/banner2.jpg" class="d-block w-100" alt="...">
							</div>
						</div>
					</div>
				</div>
			</div>
			<article class="row">
				<div class="col-md-8 offset-md-3">
					<section class="list">
							<div class="container-fluid">
								<div class="row categray justify-content-between m-2">
									<span class="text-danger">商品类型</span>
									<span class="text-danger">查看更多</span>
								</div>
								<div class="row">
									<div class="col-md-4 col-lg-3  col-sm-6 col-12 pd-1">
										<div class="card">
											<a href="item.html?itemId=1">
												<img src="../resources/img/item/productSinglePicture/238283e8-13ac-4bf6-88c3-9af94fc2696b.jpg" class="card-img-top">
												<div class="card-body">
													<span class="card-text">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</span>
													<span class="text-danger"><strong>100￥</strong></span>
												</div>
											</a>
										</div>
									</div>
									<div class="col-md-4 col-lg-3  col-sm-6 col-12 pd-1">
										<div class="card">
											<a href="item.html?itemId=1">
												<img src="../resources/img/item/productSinglePicture/24166bee-b950-4f17-a520-b04baf3d5866.jpg" class="card-img-top">
												<div class="card-body">
													<span class="card-text">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</span>
													<span class="text-danger"><strong>100￥</strong></span>
												</div>
											</a>
										</div>
									</div>
									<div class="col-md-4 col-lg-3  col-sm-6 col-12 pd-1">
										<div class="card">
											<a href="item.html?itemId=1">
												<img src="../resources/img/item/productSinglePicture/2b64313b-3942-44c3-9857-bcc1972e68cd.jpg" class="card-img-top">
												<div class="card-body">
													<span class="card-text">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</span>
													<span class="text-danger"><strong>100￥</strong></span>
												</div>
											</a>
										</div>
									</div>
									<div class="col-md-4 col-lg-3  col-sm-6 col-12 pd-1">
										<div class="card">
											<a href="item.html?itemId=1">
												<img src="../resources/img/item/productSinglePicture/2dca6efe-6e8b-4cc4-a9cc-200c2bde8d60.jpg" class="card-img-top">
												<div class="card-body">
													<span class="card-text">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</span>
													<span class="text-danger"><strong>100￥</strong></span>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</section>
					
					<section class="list">
						<div class="container-fluid">
							<div class="row categray justify-content-between m-2">
								<span class="text-danger">商品类型</span>
								<span class="text-danger">查看更多</span>
							</div>
							<div class="row">
								<div class="col-md-4 col-lg-3  col-sm-6 col-12 pd-1">
									<div class="card">
										<a href="item.html?itemId=1">
											<img src="../resources/img/item/productSinglePicture/238283e8-13ac-4bf6-88c3-9af94fc2696b.jpg" class="card-img-top">
											<div class="card-body">
												<span class="card-text">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</span>
												<span class="text-danger"><strong>100￥</strong></span>
											</div>
										</a>
									</div>
								</div>
								<div class="col-md-4 col-lg-3  col-sm-6 col-12 pd-1">
									<div class="card">
										<a href="item.html?itemId=1">
											<img src="../resources/img/item/productSinglePicture/24166bee-b950-4f17-a520-b04baf3d5866.jpg" class="card-img-top">
											<div class="card-body">
												<span class="card-text">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</span>
												<span class="text-danger"><strong>100￥</strong></span>
											</div>
										</a>
									</div>
								</div>
								<div class="col-md-4 col-lg-3  col-sm-6 col-12 pd-1">
									<div class="card">
										<a href="item.html?itemId=1">
											<img src="../resources/img/item/productSinglePicture/2b64313b-3942-44c3-9857-bcc1972e68cd.jpg" class="card-img-top">
											<div class="card-body">
												<span class="card-text">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</span>
												<span class="text-danger"><strong>100￥</strong></span>
											</div>
										</a>
									</div>
								</div>
								<div class="col-md-4 col-lg-3  col-sm-6 col-12 pd-1">
									<div class="card">
										<a href="item.html?itemId=1">
											<img src="../resources/img/item/productSinglePicture/2dca6efe-6e8b-4cc4-a9cc-200c2bde8d60.jpg" class="card-img-top">
											<div class="card-body">
												<span class="card-text">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</span>
												<span class="text-danger"><strong>100￥</strong></span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</article>

		</div>

		<script type="text/javascript" src="../resources/js/jquery.min.js"></script>
		<script type="text/javascript" src="../resources/js/popper.min.js"></script>
		<script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
		<script src="../resources/js/jqthumb.js" type="text/javascript" charset="utf-8"></script>
		<script src="../resources/js/item_img.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
