<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>注册</title>
	</head>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css"/>
	<body>
		<article class="jumbotron">
			<div class="container-fluid">
				<div class="col-12 col-md-4 offset-md-4 shadow-lg p-5 mb-5 bg-white rounded" align="center">
					<div class="bg-danger mb-2 p-2" align="center">
						<h4 class="">账号注册</h4>
					</div>
					<form action="#" method="post">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" >用户名</span>
							</div>
							<input type="text" class="form-control"   value="" placeholder="请输入用户名" required="required"/>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" >真实姓名</span>
							</div>
							<input type="text" class="form-control"   value="" placeholder="请输入真实姓名" required="required"/>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" >邮箱</span>
							</div>
							<input type="email" class="form-control"  value="" placeholder="请输入邮箱" required=""/>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" >电话号码</span>
							</div>
							<input type="tel" class="form-control"  value="" placeholder="请输入电话号码" required="required"/>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" >密码</span>
							</div>
							<input type="password" class="form-control"  value="" placeholder="请输入密码" required="required"/>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" >确认密码</span>
							</div>
							<input type="password" class="form-control"  value="" placeholder="确认输入密码" required="required"/>
						</div>
					</form>
					<p>已经有账号了？点击去<a href="/sys/login" target="_self">登录</a>吧</p>
					<button type="button" class="btn btn-danger w-100 mt-3">注册</button>
				</div>
			</div>
		</article>
		<script src="../resources/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../resources/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>